[submodule "microservices/SC_Microservice1"]
	path = microservices/SC_Microservice1
	url = https://github.com/MerlinChiodo/SC_Microservice1.git
[submodule "microservices/SC_Microservice2"]
	path = microservices/SC_Microservice2
	url = https://github.com/MerlinChiodo/SC_Microservice2.git
