[submodule "microservices/SC_Microservice1"]
	path = microservices/SC_Microservice1
	url = https://github.com/MerlinChiodo/SC_Microservice1.git
[submodule "microservices/SC_Microservice2"]
	path = microservices/SC_Microservice2
	url = https://github.com/MerlinChiodo/SC_Microservice2.git
[submodule "microservices/SC_Microservice3"]
	path = microservices/SC_Microservice3
	url = https://github.com/MerlinChiodo/SC_Microservice3.git
[submodule "microservices/SC_Microservice4"]
	path = microservices/SC_Microservice4
	url = https://github.com/MerlinChiodo/SC_Microservice4.git
[submodule "microservices/SC_Microservice5"]
	path = microservices/SC_Microservice5
	url = https://github.com/MerlinChiodo/SC_Microservice5.git
[submodule "microservices/SC_Microservice6"]
	path = microservices/SC_Microservice6
	url = https://github.com/MerlinChiodo/SC_Microservice6.git
